<div class="navbar-fixed">
  <nav class="top-nav">
    <div class="nav-wrapper col s12">
      <a href="/" class="brand-logo">
         <%= image_tag("logo.png", class: "logo-img") %>
        <span class="logo-title">
          Nosso Amigo Secreto
        </span>
      </a>

      <a href="#" data-activates="side-bar" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= link_to 'Campanhas', campaigns_path %></li>
          <li><%= link_to 'Perfil', edit_user_registration_path %></li>
          <li><%= link_to('Sair', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to 'Entrar', new_user_session_path %></li>
          <li><%= link_to 'Criar conta', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<!-- Mobile navbar -->
<ul class="side-nav" id="side-bar">
  <% if current_user %>
    <li><%= link_to 'Campanhas', campaigns_path %></li>
    <li><%= link_to 'Perfil', edit_user_registration_path %></li>
    <li><div class="divider"></div></li>
    <li>  <%= link_to('Sair', destroy_user_session_path, :method => :delete) %></li>
  <% else %>
    <li><%= link_to 'Entrar', new_user_session_path %></li>
    <li><div class="divider"></div></li>
    <li><%= link_to 'Criar conta', new_user_registration_path %></li>
    <li><div class="divider"></div></li>
  <% end %>
</ul>
